body{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background-image: url(picts/Luca_HBD_Landscapes.png);
    background-size: cover;
    background-position: fixed;
    background-color: #2f3640;
    background-attachment: fixed;
}

.background_overlay{
    position: fixed;
    width: device-width; 
    height: device-width;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.63);
    }

.parent{
    width: 100%;
    position: absolute;
    display: flex;
    height: 100vh;
    justify-content: center;
}
.content_profile{
    width: 90%;
    height: auto;
    position: relative;
    top: 10px;
    bottom: 10px;
}
.menu{
    background-color: transparent;
    backdrop-filter: blur(10px);
    width: 60%;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid gray;
    justify-content: center;
    margin: auto;
}
.profile_menu{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    justify-content: center;
}
.profile_overlay{
    position: absolute;
    width: 151px;
    height: 151px;
    border-radius: 50%;
    background-color: #105bc4;
    opacity: 50%;
    
}
.profile_row{
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    display: grid;
    justify-content: center;
}
img[alt=avatar]{
    width: 95%;
    border-radius: 50%;
    transition-duration: 0.3s;
    cursor: pointer;
}
img[alt=avatar]:hover{
    border-radius: 45%;
}
.name_profile{
    font-size: 25px;
    margin: auto;
}

.information{
    backdrop-filter: blur(10px);
    width: 61%;
    border-radius: 20px;
    border: 1px solid gray;

    position: relative;
    top: 10px;
    margin: auto;
}
.close_box{
    border-color: aliceblue;
    position: relative;
    margin: auto;
    justify-content: center;
}
.profile_information{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}